:root {
    --color-primary: #0a66c2;
}


/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F4F2EE;
}

.lineMediaLeft {
    float: left;
    width: 50%;
}

.lineMediaRigth {
    float: right;
    width: 70%;
}

/* NAVEGACION */
#navMain {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

#navMain.visible {
    opacity: 1;
    transform: translateY(0);
}

#navMain.hidden {
    opacity: 0;
    transform: translateY(-100%);
}


/* ------------------ */
.navPerfilContiner {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
}

.navPerfilContiner img {
    width: clamp(32px, 10vw, 50px); /* Mínimo 32px, máximo 42px, adaptándose al ancho de la ventana */
    height: clamp(32px, 10vw, 50px); /* Igual que el ancho para mantener la proporción */
    border-radius: 50%;
    margin: auto;
}

.navPerfilText {
    margin-left: clamp(5px, 2vw, 10px); /* Ajuste del margen según el tamaño de pantalla */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navPerfilContiner h4 {
    margin-left: clamp(2px, 1vw, 5px); /* Ajuste dinámico del margen */
    font-weight: 500;
    font-size: clamp(18px, 4vw, 24px); /* Tamaño adaptable, mínimo 18px, máximo 24px */
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
}

.navPerfilContiner p {
    width: clamp(153px, 61vw, 701px); /* Ajusta el ancho entre 150px y 300px según el vw */
    white-space: nowrap;              /* Evita los saltos de línea */
    overflow: hidden;                 /* Oculta el texto que se desborda */
    text-overflow: ellipsis;          /* Agrega los puntos suspensivos (...) */
    font-size: clamp(12px, 2vw, 16px); /* Ajusta el tamaño de fuente dinámicamente */
    font-weight: 400;
    font-size: clamp(14px, 3vw, 18px); /* Tamaño adaptable, mínimo 14px, máximo 18px */
    margin-top: 0;
    margin-bottom: 0;
}


.navContainer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 7px 20px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 0% 25px;
    height: 70px;
  }
  
  .imgMenuHamburgesa {
    width: 32px;
    height: 32px;
    cursor: pointer;
  }

  .btnContainer {
    margin-right: 36px;
  }
  .btn {
    background-color: #fff;
    border: none;
    color: white;
    display: flex;
    min-width: 31px;
    min-height: 31px;
  }
  
  .menuList {
    display: none;
    position: absolute;
    top: 68px;
    right: 3.5%;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 13px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
    justify-content: end;
    align-items: flex-start;
    width: 130px;
    justify-content: center;
    border-radius: 0 0 10px 10px;
  }
  
  .menuItem {
    display: grid;
    justify-content: center;
    row-gap: 10px;
    padding: 10px 0;
    width: 100%;
    text-align: center;
    font-size: 16px;
  }
  
  .menuItem button {
    background-color: #fff;
    border: none;
    color: #333;
    transition: background-color 0.3s ease;
    cursor: pointer;
  }
  
  .menuItem button:hover {
    background-color: var(--color-primary);
    color: #fff;
    padding: 5px 10px;
  }


/* END NAVEGACION */

/* Contenedor principal */
.continer {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.btnSendMessageContiner button:first-child {
    color: #fff;
    background-color: var(--color-primary);
    border: none;
}

.btnSendMessageContiner>button:nth-of-type(2) {
    background-color: #fff;
    padding: 8px 12px;
}

button {
    padding: clamp(6px, 10px, 12px);
    border-radius: 50px;
}

/* Tamaño dinámico para h1 */
h1 {
    font-size: clamp(1rem, 2.5vw, 3rem);
}

h2 {
    color: var(--color-primary);
}

ul {
    line-height: 2rem;
}

/* Tamaño dinámico para párrafos */
p,
a {
    margin: 0;
    font-size: clamp(1rem, 2vw, 1.25rem);
    line-height: clamp(1.5rem, 1.8rem, 2.75rem);
}

a {
    text-decoration: none;
    font-style: italic;
    font-weight: 500;
    transition: all 500ms;
}

a:hover {
    color: #fff;
    background-color: var(--color-primary);
    border: none;
    border-radius: 50px;
    padding: 1px 5px;
    font-style: normal;
    font-weight: 400;
}

.heroContiner {
    height: 200px;
}

/* Encabezado con imagen de fondo */
.bgImgHero {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 200px;
    background: url('./assets/fondoMadera.jpg') no-repeat center center/cover;
    overflow: hidden;
}

.bgImgHero .logo {
    height: 87%;
    width: auto;
    max-width: none;
    margin: 6px 10px 5px 0;
}



/* Foto de perfil */
.profile-photo {
    position: relative;
    top: -172px;
    left: 30px;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    border: 5px solid #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

/* Información principal */
.infoHeroContiner {
    margin-top: 8%;
    display: grid;
    grid-template-columns: 70% 30%;
    column-gap: 20px;
}

.infoHero,
.buttonAndContactContiner,
.acercaDeMiContiner,
.featuredArticlesContiner,
.academyFormationConatiner,
.experienciaLaboral,
.cursos,
.partisipacionesEventos,
.publicaciones,
.idiomas,
.paquetesInformaticos,
.herramientasSeo,
.reconocimientos,
.otros {
    margin: 1.3rem;
}

.buttonAndContactContiner {
    display: grid;
    grid-template-columns: 50% 50%;
}

.btnsHeroContiner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fa-solid {
    color: #fff;
}

.infoContact>* {
    color: var(--color-primary);
    font-size: clamp(0.6rem, 1.5vw, 1.15rem);
    margin-top: 0;
}


/* Acerca de mi */

/* Articulos destacados */

.articlesStylesContiner {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    gap: 1rem;
}

.article-card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s;
    max-height: 519px;
}

.article-card:hover {
    transform: scale(1.05);
}

.card-content {
    margin: 8px;
}

.card-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
    background-color: var(--color-primary);
}

.card-title {
    font-size: clamp(1.3rem, 2.5vw, 1.15rem);
}

.card-description {
    font-size: clamp(0.3rem, 2.5vw, 1.15rem);
}

.card-link {
    color: black;
    font-style: normal;
}

.card-link:hover {
    color: var(--color-primary);
    font-weight: 400;
    padding: 0px;
    border-radius: 0 0 0 8px;
}

.hidden {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-out, transform 0.8s ease-out;
  }
  
  .show {
    opacity: 1;
    transform: translateY(0);
  }


/* Responsividad */
@media (max-width: 768px) {
    .heroContiner {
        height: 150px;
    }

    .profile-info {
        margin-left: 0;
        text-align: center;
    }

    .profile-photo {
        top: -107px;
        width: 140px;
        height: 140px;
    }


    .bgImgHero {
        height: 135px;
    }

    .bgImgHero .logo {
        height: 87%;
        width: auto;
        max-width: none;
        margin: 6px 10px 5px 0;
    }

    .profile-actions {
        text-align: center;
    }

    /* Info Hero */

    .infoHeroContiner {
        margin-top: 0%;
    }

    .btnSendMessageContiner {
        display: flex;
        flex-direction: column;
        margin-right: 22px;
        gap: 10px;
    }

    .btnSendMessageContiner button:first-child {
        padding: 10px;
    }
}


@media (max-width: 480px) {
    .profile-contact {
        font-size: 14px;
    }

    .profile-photo {
        top: -82px;
        left: 15px;
        width: 90px;
        height: 90px;
    }

    .logo {
        width: 89px;
        margin: 14px;
    }

    .bgImgHero {
        height: 100px;
    }

    /* Info hero */
    .infoHeroContiner {
        margin-top: 0%;
    }

    .heroContiner {
        height: 100px;
        margin-bottom: 2%;
    }

    .btnSendMessageContiner {
        display: flex;
        flex-direction: column;
        margin-right: 22px;
        gap: 10px;
    }

    .btnSendMessageContiner button:first-child {
        padding: 5px;
    }

}